---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Ene 2026 – Actualidad",
    title: "Ingeniero de Software",
    company: "Grupo Intrax GPS",
    description:
      "Diseño y desarrollo de una plataforma web interna para centralizar y automatizar procesos administrativos, operativos y de mantenimiento. Desarrollo de módulos para facturación, nómina, inventario, órdenes de servicio, control de herramientas y gastos operativos. Generación de reportes en PDF, control de horas extra vinculadas a clientes y trazabilidad de información clave para toma de decisiones.",
  },
  {
    date: "Ago 2025 – Dic 2025",
    title: "Desarrollador Full-Stack",
    company: "ATR Servicios Logísticos",
    description:
      "Diseño y desarrollo de un sistema web integral para la gestión de transporte, incluyendo programación de viajes, facturación, nómina, taller y control de diésel. Implementación de frontend en React + TypeScript con TailwindCSS y backend en Django REST Framework. Definición de una arquitectura escalable con autenticación JWT y control de accesos por usuario. Automatización de flujos operativos y gestión de archivos con Cloudinary, mejorando la trazabilidad documental y reduciendo procesos manuales.",
  },
  {
    date: "Ene 2025 – Jun 2025",
    title: "Desarrollador Backend",
    company: "Grupo Integra Comunicaciones, S.A. de C.V.",
    description:
      "Desarrollo de una plataforma web para la gestión de órdenes de servicio y validación digital de documentación. Implementación de captura de firmas digitales y carga de evidencia fotográfica con validación de tipo y tamaño de archivos. Almacenamiento seguro de archivos en Cloudinary y control de trazabilidad del proceso. Despliegue de la plataforma en Render, asegurando estabilidad, seguridad y disponibilidad del sistema.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
